.swiper-container {
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    z-index: 1;
}

.swiper-container2 {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
}
.swiper-slide {
    background-position: center;
    background-size: cover;
    width: 300px;
    height: 300px;
}

/*Homepage Slider*/

.home-slider h4{
    width:100%;
    padding-top:30px;
    padding-bottom:40px;
    position:absolute;
    bottom:15px;
    background: linear-gradient( to bottom,
      rgba(0, 0, 0, 0.01),
      rgba(0, 0, 0, 0.2),
      rgba(0, 0, 0, 0.3),
      rgba(0, 0, 0, 0.6),
      rgba(0, 0, 0, 0.7),
      rgba(0, 0, 0, 0.8),
      rgba(0, 0, 0, 0.9),
      rgba(0, 0, 0, 0.9),
      rgba(0, 0, 0, 0.9)
    );
    color:#FFFFFF;
    padding-left:20px;
    padding-right:20px;
    font-size:18px;
    font-weight:500;
    line-height:30px;
}

.home-slider p{
    font-size:13px;
    position:absolute;
    bottom:0px;
    z-index:999;
    color:#FFFFFF;
    opacity:0.5;
    padding-left:20px;
    padding-right:20px;
    display:block;
    width:100%;
}

.home-round-slider{padding-top:10px;}
.home-round-slider img{
    border-radius:200px;
    margin-left:auto;
    margin-right:auto;
}

.home-img-1{
    position:absolute;
    width:150px;
    height:150px;
    top:25px;
    left:50%;
    margin-left:-170px!important;
    opacity:0.7;
}

.home-img-2{
    width:200px;
    height:200px;
    position:relative;
    z-index:1;
    -webkit-box-shadow: 0 0 10px 3px rgba(0,0,0,0.5);
            box-shadow: 0 0 10px 3px rgba(0,0,0,0.5);
}

.home-img-3{
    position:absolute;
    width:150px;
    height:150px;
    top:25px;
    right:50%;
    margin-right:-170px!important;
    opacity:0.7;
}

.home-round-slider h3{text-align:center; padding-top:20px;}
.home-round-slider em{display:block; font-style: normal; text-align:center;}
.center-socials{width:160px; margin-left:auto; margin-right:auto;}


/*Sidebar Settings*/
.sidebar-dark .sidebar-logo{background-image:url(../images/sidebar_logo_light.png);}
.sidebar-light .sidebar-logo{background-image:url(../images/sidebar_logo_dark.png);}

.sidebar-logo{
    background-repeat:no-repeat;
    width:180px;
    height:50px;
    background-size:180px 50px;
    margin-left:20px;
}

.submenu .sidebar-logo{
    margin-left:0px;
    height:90px; /* double the height of your logo image*/
    background-position:20px;
    width:100%;
}

/*Footer*/

.footer{padding:30px 0px 30px 0px;}
.footer-dark{background-color:#0c1117;}
.footer-light{background-color:#ecf0f1; border-top:solid 1px #e0e0e0; border-bottom:solid 1px #e0e0e0;}

.footer-dark .decoration{
    background-color:rgba(255,255,255,0.05);
    max-width:290px;
    margin-left:auto;
    margin-right:auto;
}

.footer .footer-logo{
    background-image:url(../images/preload-logo.png);
    background-size:80px 80px;
    width:80px;
    height:80px;
    margin-left:auto;
    margin-right:auto;
    margin-bottom:20px;
}

.copyright-text{margin-bottom:0px; margin-top:-10px; margin-bottom:0px;}

.footer p{
    max-width:290px;
    margin-left:auto;
    margin-right:auto;
    text-align:center;
}

.footer-socials{
    width:255px;
    margin-left:auto;
    margin-right:auto;
    margin-bottom:30px;
}

.footer-socials a{
    margin-left:2px!important;
    margin-right:2px!important;
}

/*Header*/

.header-dark{background-color:#0c1117;}
.header-light{background-color:#ecf0f1;}
.header-transparent{background-color:rgba(0,0,0,0.7);}

.header{
    position:fixed;
    left:-250px!important;
    right:-250px!important;
    top:0px;
    height:60px;
    z-index:99;
}

.header-icon-1{left:250px;}
.header-icon-2{left:310px;}
.header-icon-3{right:310px;}
.header-icon-4{right:250px;}

.header-logo{
    position:absolute;
    background-image:url(../images/preload-logo.png);
    background-size:30px 30px;
    width:30px;
    height:30px;
    margin-left:-15px;
    margin-top:15px;
    left:50%;
}

.header-dark a{color:#FFFFFF;}
.header-light a{color:#1f1f1f;}
.header-transparent a{color:#FFFFFF;}
.header-icon .fa-plus{    line-height:60px!important;    font-size:12px;}
.header-icon i{transition:all 250ms ease;}

.header-icon{
    width:60px;
    height:60px;
    line-height:60px;
    text-align:center;
    position:absolute;
    transition:all 250ms ease;
}

/*Footer Menu*/
.footer-menu{
    height:60px;
    position:fixed;
    bottom:0px;
    z-index:99;
    bottom:0px;
    left:-25px!important;
    right:-25px!important;
    transition:all 250ms ease;   
}

.footer-menu .menu-bottom-bar{    padding-left:25px;    padding-right:25px;}

/*Header Menu*/
@media (min-width:768px){
    .header-menu{
        left:60px;
        margin-top:70px!important;
        margin-top:21px;
        width:320px;
    }    
}

.header-menu{
    margin-top:60px!important;
    z-index:9;
    background-color:#FFFFFF;
    border:solid 1px rgba(0,0,0,0.1);
    border-bottom:none!important;
    -moz-transform: translateX(0px) translateY(-500px);
    -webkit-transform: translateX(0px) translateY(-500px);
    -o-transform: translateX(0px) translateY(-500px);
    -ms-transform: translateX(0px) translateY(-500px);
    transform: translateX(0px) translateY(-500px);
    transition:all 250ms ease;
}

.header-menu-overlay{
    position:fixed;
    z-index:9;
    width:100%;
    height:100%;
    opacity:0;
    top:0px;
    -moz-transform: scale(0,0);
    -webkit-transform: scale(0,0);
    -o-transform: scale(0,0);
    -ms-transform: scale(0,0);
    transform: scale(0,0);
}

.header-menu-active{
    -moz-transform: translateX(0px) translateY(0px);
    -webkit-transform: translateX(0px) translateY(0px);
    -o-transform: translateX(0px) translateY(0px);
    -ms-transform: translateX(0px) translateY(0px);
    transform: translateX(0px) translateY(0px);
}

.show-header-menu{
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);   
    transition:all 250ms ease;   
}

.header-rotate{
    -moz-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);   
    transition:all 250ms ease;
}

.header-menu a{
    font-size:13px;
    font-weight:500;
    line-height:60px;
    padding-right:20px;
    border-bottom:solid 1px rgba(0,0,0,0.1);    
    color:#4d4d4d;
    transition:all 250ms ease;
}

.header-menu a:hover{color:#000000; transition:all 250ms ease;}
.header-menu-dark a:hover{background-color:rgba(255,255,255,0.05)!important;}
.header-menu-light a:hover{background-color:rgba(0,0,0,0.05)!important;}

.header-menu a i:first-child{
    font-size:16px;
    color:#1f1f1f;
    width:60px;
    text-align:center;
}

.header-menu a i:last-child{
    float:right;
    line-height:60px;
    width:12px;
    font-size:6px;
}

.active-header-item{
    font-size:14px!important;
    color:#1f1f1f!important;
    font-weight:800!important;
}

.active-header-item i:last-child{
    color:#2ecc71!important;
    font-size:8px!important;
}

.header-menu-dark{background-color:#0e141b;}
.header-menu-dark .active-header-item{color:#FFFFFF!important;}
.header-menu-dark .active-header-item i:first-child{color:#FFFFFF;}
.header-menu-dark a{color:#b5b5b5;}
.header-menu-dark a i:first-child{color:#999999;}
.header-menu-dark a i:last-child{color:#585555;}
.header-menu-dark a:hover{color:#FFFFFF!important;}
.no-pointer{pointer-events:none!important;}
.no-visibility{opacity:0!important;}

/*//////////*/
/*Modal Menu*/
/*//////////*/

.modal-menu-dark{ background-color:#0e141b; }
.modal-menu-dark a{ color:#647282!important; }
.modal-menu-dark .active-modal-item em, .modal-menu-dark .active-modal-item i:first-child{color:#FFFFFF!important;}
.modal-menu-dark-background{background-color:rgba(0,0,0,0.8);}
.modal-menu-dark a:hover{background-color:rgba(255,255,255,0.05);}

.modal-menu-light{ background-color:#ecf0f1!important; }
.modal-menu-light a{ color:#647282!important; }
.modal-menu-light .active-modal-item em, .modal-menu-light .active-modal-item i:first-child{color:#1f1f1f!important;}
.modal-menu-light-background{background-color:rgba(255,255,255,0.8);}
.modal-menu-light a:hover{background-color:rgba(0,0,0,0.05);}

.modal-menu-background{
    position:fixed;
    z-index:9999;
    left:0px;
    right:0px;
    top:0px;
    bottom:0px;
    opacity:0;
    pointer-events:none;
    -webkit-transition: all 250ms ease;
    -moz-transition: all 250ms ease;
    -ms-transition: all 250ms ease;
    -o-transition: all 250ms ease;
    transition: all 250ms ease;
}

.active-modal-menu-background{
    opacity:1;
    pointer-events:all;
    -webkit-transition: all 250ms ease;
    -moz-transition: all 250ms ease;
    -ms-transition: all 250ms ease;
    -o-transition: all 250ms ease;
    transition: all 250ms ease;
}

.show-modal-menu{font-size:10px;}
.modal-menu{
    background-color:#0e141b;
    -webkit-box-shadow: 0 0px 10px 2px rgba(0,0,0,0.2);
            box-shadow: 0 0px 10px 2px rgba(0,0,0,0.2);
    border-radius:10px;
    position:fixed;
    top:50%;
    max-height:440px;
    margin-top:-220px;
    width:300px;
    left:50%;
    margin-left:-150px;
    z-index:99999;
    overflow:scroll;
    -moz-transform: scale(0);
    -webkit-transform: scale(0);
    -o-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
    -webkit-transition: all 250ms ease;
    -moz-transition: all 250ms ease;
    -ms-transition: all 250ms ease;
    -o-transition: all 250ms ease;
    transition: all 250ms ease;
}

.active-modal-menu{
    -moz-transform: scale(1);
    -webkit-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    -webkit-transition: all 250ms ease;
    -moz-transition: all 250ms ease;
    -ms-transition: all 250ms ease;
    -o-transition: all 250ms ease;
    transition: all 250ms ease;
}

.modal-menu a{
    color:#647282;
    height:55px;
    line-height:55px;
    padding-left:20px;
    padding-right:20px;
}

.modal-menu .fa-mobile{font-size:26px!important;}
.modal-menu a i:first-child{
    position:absolute;
    height:55px;
    line-height:57px;
    font-size:18px;
    width:55px;
    text-align:center;
    left:0px;
}

.modal-menu a i:last-child{
    position:absolute;
    height:55px;
    line-height:55px;
    font-size:18px;
    right:28px;
    font-size:6px;
}

.modal-menu a em{  
    font-size:13px;
    padding-left:35px;
    font-style:normal;
    color:#647282;
}

.active-modal-item em, .active-modal-item i:first-child{color:#FFFFFF!important;}
.active-modal-item i:last-child{color:#2ecc71;}
.close-modal-menu i:last-child{color:#c0392b!important;}

/*/////////////*/
/*Material Menu*/
/*/////////////*/

.material-menu{    opacity:1;    transition:all 250ms ease;}
.material-menu-dark .material-label{color:#cacaca;}
.material-menu-dark-background{background-color:rgba(0,0,0,0.8);}

.material-menu-light .material-label{color:#1f1f1f;}
.material-menu-light-background{background-color:rgba(255,255,255,0.9);}

.material-menu i{
    line-height:45px;
    text-align:center;
    border-radius:45px;
    width:45px;
    height:45px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.06), 0 3px 6px rgba(0,0,0,0.13);
}

.material-menu a{
    position:fixed;
    z-index:999999;  
    transition:all 250ms ease!important;
}

.material-menu a i{transition:all 250ms ease!important;}
.material-menu a i:hover{transition:all 250ms ease!important;}
.material-menu-right a{right:30px;}

.material-menu-left a i{
    position:absolute;
    left:30px;
    margin-top:-45px;
}

.material-menu-left a em{
    position:absolute;
    width:auto;
    left:100px;
    margin-top:-40px;
    height:34px;
    line-height:20px;
    margin-left:-10px;
}

.material-menu-deploy{bottom:20px;}
.material-menu-close{bottom:20px; opacity:0; pointer-events:none; transition:all 250ms ease; transition-delay: 175ms;}
.material-menu-1{bottom:80px;     opacity:0; pointer-events:none; transition:all 250ms ease; transition-delay: 150ms;}
.material-menu-2{bottom:140px;    opacity:0; pointer-events:none; transition:all 250ms ease; transition-delay: 125ms;}
.material-menu-3{bottom:200px;    opacity:0; pointer-events:none; transition:all 250ms ease; transition-delay: 100ms;}
.material-menu-4{bottom:260px;    opacity:0; pointer-events:none; transition:all 250ms ease; transition-delay: 75ms;}
.material-menu-5{bottom:320px;    opacity:0; pointer-events:none; transition:all 250ms ease; transition-delay: 50ms;}
.material-menu-6{bottom:380px;    opacity:0; pointer-events:none; transition:all 250ms ease; transition-delay: 25ms;}
.material-menu-background{        opacity:0; pointer-events:none; transition:all 250ms ease; transition-delay: 250ms;}

.mm-c{opacity:1; pointer-events:all; transition:all 250ms ease; transition-delay: 25ms;}
.mm-1{opacity:1; pointer-events:all; transition:all 250ms ease; transition-delay: 50ms;}
.mm-2{opacity:1; pointer-events:all; transition:all 250ms ease; transition-delay: 75ms;}
.mm-3{opacity:1; pointer-events:all; transition:all 250ms ease; transition-delay: 100ms;}
.mm-4{opacity:1; pointer-events:all; transition:all 250ms ease; transition-delay: 125ms;}
.mm-5{opacity:1; pointer-events:all; transition:all 250ms ease; transition-delay: 150ms;}
.mm-6{opacity:1; pointer-events:all; transition:all 250ms ease; transition-delay: 175ms;}
.mm-bg{opacity:1; pointer-events:all; transition:all 250ms ease; transition-delay: 0s}
.material-menu .fa-mobile{font-size:20px;}

.material-label{
    margin-right:10px;
    padding-top:8px;
    padding-bottom:5px;
    border-radius:5px;
    font-style:normal;
    font-size:14px;
    font-weight:500;
}

.material-menu-background{
    position:fixed;
    top:0px;
    left:0px;
    right:0px;
    bottom:0px;
    z-index:999998;
}


/*Sliding Menu*/

.sliding-menu-button{
    margin-top:30px!important;
    margin-bottom:20px!important;
}

.sliding-menu *{
    backface-visibility: hidden;
    transform: translateZ(0);
}

.sliding-menu{
    min-height:400px;
    max-height:500px;
    overflow:hidden;    
}

.sliding-content{margin-top:30px;}
.sliding-menu-active{
    transform:translateY(60px)!important;
    transition:all 250ms ease;
}

.sliding-menu-scroll{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0; /* Decrease this value for cross-browser compatibility */
    overflow: auto;
    -webkit-overflow-scrolling: touch;
}

.sliding-menu, .sliding-content{
    transform:translateY(-350px);
    transition:all 250ms ease;
}

.sliding-menu-light{background-color:#FFFFFF; border-bottom:solid 1px rgba(0,0,0,0.1);}
.sliding-menu-light a{color:#1f1f1f;}
.sliding-menu-light a em{color:#9b9b9b;}
.sliding-menu-light .sliding-menu-socials a:hover{color:#1f1f1f!important;}
.sliding-menu-light .sliding-menu-socials{border-top:solid 1px rgba(0,0,0,0.1);}

.sliding-menu-dark{background-color:#0e141b; border-bottom:solid 1px rgba(255,255,255,0.1);}
.sliding-menu-dark a{color:#FFFFFF;}
.sliding-menu-dark a em{color:#999999;}
.sliding-menu-dark .sliding-menu-socials a:hover{color:#FFFFFF!important;}
.sliding-menu-dark .sliding-menu-socials{border-top:solid 1px rgba(255,255,255,0.1);}
.active-sliding-menu{font-weight:400!important;}

.sliding-menu a:hover{
    color:#27ae60;
    transform:scale(1.05, 1.05);
    transition:all 250ms ease;
}

.sliding-menu a:first-child{padding-top:20px;}
.sliding-menu a:last-child{padding-bottom:20px;}

.sliding-menu a{
    font-size:18px;
    text-align:center;
    text-transform: uppercase;
    font-weight:400;
    margin-bottom:10px;
    transition:all 250ms ease;
}

.sliding-menu a em{
    display:block;
    margin-top:-10px;
    font-size:12px;
    font-style:normal;
    text-transform: none;
    transition:all 250ms ease;
}

.sliding-menu-socials{
    width:180px;
    margin:20px auto 0 auto;
    padding-bottom:0px;
    padding-top:15px;
}

.sliding-menu-socials a{
    padding:0px!important;
    width:40px;
    height:40px;
    line-height:40px;
    text-align:center;
    border-radius:50px;
    font-size:14px;
    float:left;
    margin-left:10px;
    margin-right:10px;
}

.open-sliding-menu{
    display:block!important;
    margin-left:auto!important;
    margin-right:auto!important;
}

.active-open-sliding-menu{
    -moz-transform: rotate(180deg)!important;
    -webkit-transform: rotate(180deg)!important;
    -o-transform: rotate(180deg)!important;
    -ms-transform: rotate(180deg)!important;
    transform: rotate(180deg)!important;
    transition:all 250ms ease;
}