/*Light Skin */

body, #page-content{background-color:#FFFFFF;}

/*General - Reset*/
p{color:#666666;}
p strong{color:#1f1f1f;}
a{color:#2980b9;}

.table tr.even td{background: #efefef;}
.table tr:hover td{background: #f8f8f8;}
tr:hover > td {background: #fff;}

th{	border-bottom: 1px solid #e9e9e9;	border-right: 1px solid #e9e9e9;	color: #555;	background-color: #f6f6f6;}
td{ border-right: 1px solid #e9e9e9;	border-bottom: 1px solid #e9e9e9;   color: #666;	background-color: #fdfdfd;}
table{    background-color: #f6f6f6;	border-left: 1px solid #e9e9e9;    	border-top: 1px solid #e9e9e9;}

/*Heading Style*/
.heading-style .line{background-color:#000000;}
.heading-style i{background-color:#FFFFFF; color:#666666;}
.decoration{background-color:rgba(0,0,0,0.1);}

/*Select Box*/
.select-box{border: 1px solid rgba(0,0,0,0.1);    background: #FFFFFF url("data:image/png;base64,R0lGODlhDwAUAIABAAAAAP///yH5BAEAAAEALAAAAAAPABQAAAIXjI+py+0Po5wH2HsXzmw//lHiSJZmUAAAOw==") no-repeat 95% 50%;}

/*Input*/
.input-text-box{    border:solid 1px rgba(0,0,0,0.1);           color:rgba(0,0,0,0.6);}
.input-text-line{   border-bottom:solid 1px rgba(0,0,0,0.1);    color:rgba(0,0,0,0.6);}

.input-text-line:focus, .input-text-box:focus{color:#000000!important;}
.input-icon i{color:#8b8b8b;}

/*Dropcaps*/
.dropcaps-1:first-child:first-letter{    color: #000;}
.dropcaps-2:first-child:first-letter{    color: #FFF;        background-color:#000;}
.dropcaps-3:first-child:first-letter{    color: #1f1f1f;     border-left:solid 4px #c0392b;}
.dropcaps-4:first-child:first-letter{    color: #1f1f1f;     text-shadow:3px 3px 1px rgba(0,0,0,0.3);
}

/*Text Highlight*/
.text-highlight span{color:#FFFFFF;}

/*Device Buttons*/
.android-button{background-color:#000000;}
.android-button em{color:#FFFFFF;}
.android-button i{color:#FFFFFF;}
.android-button strong{color:#FFFFFF;}

.ios-button{background-color:#000000;}
.ios-button em{color:#FFFFFF;}
.ios-button i{color:#FFFFFF;}
.ios-button strong{color:#FFFFFF;}


.windows-button{background-color:#000000;}
.windows-button em{color:#FFFFFF;}
.windows-button i{color:#FFFFFF;}
.windows-button strong{color:#FFFFFF;}

.down-button{background-color:#000000;}
.down-button em{color:#FFFFFF;}
.down-button i{color:#FFFFFF;}
.down-button strong{color:#FFFFFF;}

/*Toggles*/
.toggle{border-bottom:solid 1px rgba(0,0,0,0.1);}
.toggle .toggle-title{color:#1f1f1f;}
.toggle i{color:#000000;}

/*Dropdown*/
.dropdown-ghost{color:#1f1f1f!important;}
.dropdown-ghost em{color:#1f1f1f!important;}
.dropdown-ghost .dropdown-item em{color:#1f1f1f!important;}
.dropdown-ghost i{color:#1f1f1f!important;}

/*Accordions*/
.accordion-item{border:solid 1px rgba(0,0,0,0.1);}
.accordion-toggle{color:#1f1f1f;}
.last-accordion-item{border-bottom:solid 1px rgba(0,0,0,0.1)!important;}

/*Tabs*/
ul.tabs li{color: #222;}
ul.tabs li.current{background: #ededed; color: #222;}
.tab-content{background: #ededed;}
.dark-menu-bar a{color:#FFFFFF!important;}

/*Portfolios*/
.border-image{background-color:#FFFFFF; border:solid 1px rgba(0,0,0,0.1);}
.active-adaptive{color:#FFFFFF!important;}
.portfolio-adaptive-controls{background-color:#6FB43F;}
.portfolio-adaptive-controls h4{color:#FFFFFF;}
.portfolio-adaptive-controls .portfolio-switch{border-left:solid 1px rgba(255,255,255,0.1); color:rgba(255,255,255,0.5);}

/*Quotes / Reviews*/
.quote-1-left{border-left:solid 8px #c0392b;}
.quote-1-left em{color:#8e8e8e;}
.quote-1-right{border-right:solid 8px #c0392b;}
.quote-1-right em{color:#8e8e8e;}
    
.quote-2-left i{color:#cacaca;}
.quote-2-right i{color:#cacaca;}
.quote-3 a{color:#1f1f1f;}

.review-1 em{color:#8d8d8d;}
.review-2 em{color:#8d8d8d;}
.review-3 a{color:#1f1f1f;}

/*Timeline Page*/
.page-timeline-1 .timeline-block-left i{border:solid 1px #cacaca; background-color:#FFFFFF;}
.page-timeline-1 .timeline-deco{background-color:#cacaca;}
.page-timeline-1 .timeline-subheading{color:#2980b9;}

.page-timeline-2 .timeline-deco{background-color:#cacaca;}
.page-timeline-2 .timeline-icon{background-color:#FFFFFF;}
.page-timeline-2 .timeline-icon i{border:solid 1px rgba(0,0,0,0.2); background-color:#FFFFFF;}
.page-timeline-2 .timeline-content{background-color:#FFFFFF;}
.page-timeline-2 .timeline-content-fullscreen{background-color:#FFFFFF;}
.page-timeline-2 .timeline-subheading{color:#2980b9;}
.page-timeline-2 .timeline-smallheading{color:#2980b9;}

/*Page Login*/
.page-login-input input{background-color:rgba(255,255,255,0);   border-bottom:solid 2px rgba(0,0,0,0.1);    color:#1f1f1f;}
.page-login-input input:focus{border-bottom:solid 2px #27ae60;}
.page-login-input i{color:#4a4a4a;}
.page-login-input a i{color:#d3d3d3!important;}
.page-login-forgot{color:#969696;}
.page-login-create{color:#969696;}

/*Contact Page*/
.contactField{background-color:rgba(255,255,255,0.4); color:#666; border:solid 1px #cacaca;}
.contactField:focus{border:solid 1px #27ae60;}
.contactTextarea{background-color:rgba(255,255,255,0.4); border:solid 1px #cacaca; color: #666;}
.contactTextarea:focus{border:solid 1px #27ae60;} 

/*Contact Icons*/
.contact-call, .contact-text, .contact-mail, .contact-facebook, .contact-twitter{color:#666666;}
.contact-call i, .contact-text i, .contact-mail i, .contact-facebook i, .contact-twitter i{color:#1f1f1f;}

/*User List*/
.user-list-1{border-bottom:solid 1px rgba(0,0,0,0.1);}
.user-list-2{border-bottom:solid 1px rgba(0,0,0,0.1);}
.user-list-2 em{color:#868686;}
.user-list-3{border-bottom:solid 1px rgba(0,0,0,0.1);}
.user-list-3 strong{color:#1f1f1f;}
.user-list-3 i{color:#1f1f1f;}
.user-list-4{border-bottom:solid 1px rgba(0,0,0,0.1);}
.user-list-4 strong{color:#1f1f1f;}
.user-list-4 em{color:#868686;}
.user-list-4 .fa-angle-right{color:#1f1f1f;}
.activity-item{border-bottom:solid 1px rgba(0,0,0,0.1);}
.activity-item em{color:#cacaca;}
.activity-incident em{color:#acacac;}

/*Calendar*/
.calendar-titles a{color:#1f1f1f;}
.calendar-days a{color:#1f1f1f;}
.calendar-days a:hover{color:rgba(41, 128, 185,1.0);}
.taken-day{color:#FFFFFF!important;}
.taken-day i{color:#27ae60;}
.close-day{color:#FFFFFF!important;}
.close-day i{color:#c0392b;}
.calendar-hours{border-top:solid 1px rgba(0,0,0,0.1);}
.calendar-hour{border-bottom:solid 1px rgba(0,0,0,0.1);}
.calendar-hour-clear:hover{background-color: rgba(39, 174, 96, 0.1);}
.calendar-hour-taken:hover{background-color: rgba(192, 57, 43,0.1);}
.calendar-hour strong{color:#666666; opacity:0.7;}
.calendar-hour em{color:#666666;}

/*Checklist*/
.checklist-item{border-bottom:solid 1px rgba(0,0,0,0.1);}
.checklist-item .fa-circle-o{color:#acacac;}
.checklist-item em{color:#1f1f1f;}
.checklist-item em span{color:#c1c1c1;}
.checklist-item em{border-right:solid 1px rgba(0,0,0,0.1);}
.checklist-item strong{color:#1f1f1f;}
.completed-checklist{color:#838383!important;}

/*Tasklist Item*/
.tasklist-item{color:#1f1f1f; border-left:solid 4px #ecf0f1;}
.tasklist-item i:first-child{color:rgba(0,0,0,0.2);}
.tasklist-item h5{border-top:solid 1px rgba(0,0,0,0.1); border-right:solid 1px rgba(0,0,0,0.1);}
.tasklist-completed{background-color:#fafafa;}
.tasklist-completed h5{color:rgba(0,0,0,0.5);}

/*Chat Page*/
.chat-input{border-top:solid 1px rgba(0,0,0,0.1); background: #eeeeee;}
.chat-input a:first-child{background-color:#1f1f1f; color:#FFFFFF;}
.chat-input a:last-child{ background-color:#1f1f1f; color:#FFFFFF;}
.chat-input input{color:#666666; border:solid 1px rgba(0,0,0,0.2);}
.chat-input input:focus{color:#1f1f1f;}
.speach-left{ background-color:#FFFFFF; border:solid 1px #cacaca;}
.speach-right{background-color:#FFFFFF; border:solid 1px #cacaca;}

/*News Page*/
.active-home-tab{color:#1f1f1f!important; border-bottom:solid 3px #e74c3c!important;}
.home-tabs a:hover{color:#1f1f1f!important; border-bottom:solid 3px #e74c3c!important;}
.home-tabs a{color:rgba(0,0,0,0.5); border-bottom:solid 3px #ecf0f1;}
.thumb-layout strong{color:#1f1f1f;}
.thumb-layout em{color:#666666;}
.badge-news{background-color:rgba(0,0,0,1);}
.badge-news h2{color:#FFFFFF;}
.badge-news p{color:#FFFFFF;}
.card-small-layout strong{background-color:#FFFFFF; color:#1f1f1f;}
.card-small-layout em{color:#666666;}
.card-small-layout u{color:#2980b9;}
.card-large-layout strong{background-color:#FFFFFF; color:#1f1f1f;}
.card-large-layout em{color:#666666;}
.card-large-layout u{color:#2980b9;}
.text-slider{background-color:#000000;}
.text-slider p{color:#FFFFFF; border-bottom:solid 1px rgba(0,0,0,0.1);}
.thumb-layout a u{color:rgba(0,0,0,0.4);}
.profile-categories a{border-bottom:solid 1px rgba(0,0,0,0.05);    color:#666666;}
.profile-categories a em{color:#FFFFFF;}

/*Store Page*/
.category-slider a em{ color:#666666;}
.category-slider a strong{color:#1f1f1f;}
.category-title{color:#000000; border-top:solid 1px rgba(0,0,0,0.1);}
.badge-store{background-color:rgba(0,0,0,1);}
.badge-store h2{color:#FFFFFF;}
.badge-store h3{color:#FFFFFF;}
.badge-store p{color:rgba(255,255,255,0.7);}
.store-slider-item-description h6{color:#e85242;}
.store-slider-category{color:#777777;}
.store-slider-buttons a{color:#FFFFFF;}
.store-item strong{color:#1f1f1f;}
.store-item em{color:#666666;}
.store-item .discount{color:#e74c3c;}
.store-item .offer{color:#27ae60;}
.store-item-button-1{color:#FFFFFF; background-color:rgba(0,0,0,0.8);}
.store-item-button-2{color:#FFFFFF; background-color:rgba(0,0,0,0.8);}
.store-item-button-3{color:#FFFFFF; background-color:rgba(0,0,0,0.8);}
.store-item-list a strong{color:#1f1f1f;}
.store-item-list a em{color:#666666;}
.store-item-list a u{color:#000000; background-color:rgba(255,255,255,0.9);}
.store-cart-1 .cart-item h2{color:#2981bb;}
.store-cart-1 .cart-item h3{color:#666666;}
.store-cart-1 .cart-item h4 a:first-child{color:rgba(0,0,0,0.4);}
.store-cart-1 .cart-item h4 a:first-child:hover{color:#2cc16a;}
.store-cart-1 .cart-item h4 a:last-child{color:rgba(0,0,0,0.4);}
.store-cart-1 .cart-item h4 a:last-child:hover{color:#e74c3c;}
.store-cart-1 .cart-item h4 input{border:solid 1px rgba(0,0,0,0.1);}
.store-cart-1 .cart-item h5 a{color:#c0392b;}
.store-cart-2 .cart-item h2{color:#FFFFFF; background-color:rgba(0,0,0,0.6);}
.store-cart-2 .cart-item h3{color:#666666;}
.store-cart-2 .cart-item h4 a:first-child{color:rgba(0,0,0,0.4);}
.store-cart-2 .cart-item h4 a:first-child:hover{color:#2cc16a;}
.store-cart-2 .cart-item h4 a:last-child{color:rgba(0,0,0,0.4);}
.store-cart-2 .cart-item h4 a:last-child:hover{color:#e74c3c;}
.store-cart-2 .cart-item h4 input{border:solid 1px rgba(0,0,0,0.1);}
.store-input input{border:solid 1px rgba(0,0,0,0.2); color:#bdc3c7;}
.store-input input:focus{border:solid 1px #27ae60!important; color:#666666;}
.store-input select{border:solid 1px rgba(0,0,0,0.2); color:#bdc3c7;}
.store-input select:focus{border:solid 1px #27ae60!important; color:#666666;}
.store-about-image img{border:solid 5px #FFFFFF;}
.store-history-item h2{color:#666666;}
.store-history-item h6{color:#FFFFFF; background-color:rgba(0,0,0,0.5);}

/*Blog Page*/

.page-blog-list-more i{color:#FFFFFF; background-color:#2980b9;}
.page-blog-list-more i:hover{color:#FFFFFF;  background-color:#3498db;}
.page-blog-list-share i{color:#FFFFFF;    background-color:#27ae60;}
.page-blog-list-share i:hover{ background-color:#2ecc71;}
.blog-sidebar-search input{border-bottom:solid 2px rgba(0,0,0,0.2);}
.blog-sidebar-search input:focus{border-bottom:solid 2px #27ae60;}
.blog-sidebar-recent-posts a{border-bottom:solid 1px rgba(0,0,0,0.1);}
.blog-sidebar-recent-posts strong{color:#1f1f1f;}
.blog-sidebar-recent-posts em{color:rgba(0,0,0,0.5);}
.blog-sidebar-recent-posts i{color:#1f1f1f;}
.blog-sidebar-categories a{border-bottom:solid 1px rgba(0,0,0,0.1); color:#1f1f1f;}
.blog-sidebar-categories a em{background-color:#e74c3c; color:#FFFFFF;}
.blog-post-comment strong{color:#1f1f1f;}
.blog-post-comment-add input:focus{border-bottom:solid 2px #27ae60;}
.blog-post-comment-add input{border-bottom:solid 2px rgba(0,0,0,0.1); color:#1f1f1f;}
.blog-post-comment-add textarea{border-bottom:solid 2px rgba(0,0,0,0.1); color:#1f1f1f;}
.blog-post-comment-add textarea:focus{border-bottom:solid 2px #27ae60;}














